<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data page</title>
</head>
<body style="text-align: center;background-color: aqua;">
    <style>
        p{
            background-color: rgb(165, 42, 165);
            border-radius: 30px;
            margin-right: 30%;
            margin-left: 30%;
            padding:30px;
        }
        table{
            text-align: center;
        }
    </style>
    <h2 style="color:rgb(34, 0, 255)"font-size:40px>Registaration Data</h2>
    <p>My username is:{{n}}</p>
    <p>My Mobilenumber is:{{m}}</p>
    <p>My email is:{{e}}</p>
    <p>My password is:{{p}}</p>
    <p>My confirm password is:{{c}}</p>
    <center>
   <table border="4"width=50% bgcolor="lightgreen" bordercolor="yellow">
        <thead>
            <tr>
                <th>Username</th>
                <th>Mobilenumber</th>
                <th>email</th>
                <th>password</th>
                <th>confirm password</th>
            </tr>
            <tr>
                <td>{{n}}</td>
                <td>{{m}}</td>
                <td>{{e}}</td>
                <td>{{p}}</td>
                <td>{{c}}</td>
            </tr>
        </thead>
    </table>
    </center>
</body>
</html>