<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>internal page</title>
    <style type="text/css">
        h3{
            text-align: center;
            font-style: italic;
            background-color: aquamarine;
            font-size: 40px;
            padding: 20px;
            margin-right: 100px;
            margin-left: 100px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h3>This is Internal css</h3>
</body>
</html>