h2{
    text-align: center;
    color:rgb(0, 13, 255);
}
form{
    text-align: center;
    background-color: lightgreen;
    margin-left: 30%;
    margin-right:30%;
    padding:30px;
    border-radius: 30px;
}

button{
    width:200px;
    color:black;
    background-color: brown;
    padding:5px;
    border-radius: 10px;
}
input[type=text],input[type=number],input[type=email],input[type=password]{
    background-color: lightblue;
    padding:10px;
    width: 40%;
    border-radius: 10px;
}